
.diary_section{
    margin : 5% 10%;
  
 
   
    
}
.writebtn{
    position : relative;
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px lightgray;
    padding: 10px 40px;
    background-color: gray;
    color :white;
    font-weight: bold;
    font-size: 100%;
}
.diary_div{
    margin: 30px;
    border-bottom: 1px solid black;
   
   
}
.diary_container{
    border:1px solid white;
    width : 90%;
    height : 50%;
    margin:2% 0%;
    box-shadow: 0px 0px 10px 0px white;
    background-color: white;

}
.image{
   position: relative;
    float:right;
  
}
.mydiary{
    display: flex;
}
.image2{
    position: relative;
}
.h2{
    position : relative;
    color:white;
}